body {
  background-color: rgb(0, 1, 5);
}

h1 {
  text-align: center;
  color: aliceblue;
}

button {
  padding: 6px;
  border-radius: 15px;
  margin: 15px;
  margin-left: 5px;
  display: inline-block;
  font-size: 12px;
  text-align: center;
}

.ButtonPane {
  justify-content: center;
  margin-left: 10px;
  max-width: 200px;
  min-width: 200px;
  background-color: rgb(26, 26, 26);
  padding: 20px;
  border-radius: 30px;
}

.ButtonPane h1 {
  font-size: 20px;
}

.ButtonPane button {
  border: none;
  margin-left: 10px;
  margin-top: 10px;
  display: flex;
  width: 150px;
  flex-direction: column;
  background-color: azure;
  transition: all 0.05s ease-in-out;
  box-shadow: 0px 3px #a7a7a7;
}

.ButtonPane button:focus {
  background-color: rgb(152, 188, 255);
}

.ButtonPane button:hover {
  filter: brightness(85%);
  transform: scale(1.15);
}

.ControlPane {
  justify-content: left;
  width: 180px;
  margin-right: 20px;
  height: 200px;
  background-color: rgb(26, 26, 26);
  padding: 20px;
  border-radius: 30px;
  font-size: 10px;
}

.ControlPane h1 {
  margin-left: 10px;
  font-size: 20px;
}

.ControlPane button {
  border: none;
  margin-left: 10px;
  margin-top: 10px;
  display: flex;
  width: 150px;
  flex-direction: column;
  background-color: azure;
  transition: all 0.05s ease-in-out;
  box-shadow: 0px 3px #a7a7a7;
}

.ControlPane button:focus {
  background-color: rgb(152, 188, 255);
}

.ControlPane button:focus {
  background-color: rgb(152, 188, 255);
}

.ControlPane button:hover {
  filter: brightness(85%);
  transform: scale(1.15);
}
